{% comment %}
    Renders a set of links for paginated results. Must be used within paginate tags.

    Usage:
    {% paginate results by 2 %}
      {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
    {% endpaginate %}

    Accepts:
    - paginate: {Object}
    - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
    - class: {String} (optional) Appended to container element's class attribute
{% endcomment %}

<link rel="stylesheet" href="{{ 'pagination.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'pagination.css' | asset_url | stylesheet_tag }}</noscript>

{%- if paginate.parts.size > 0 -%}
  <div class="#pagination-wrapper">
    <nav 
      class="#pagination"
      role="navigation"
      aria-label="{{ 'general.pagination.label' | t }}"
    >
      {%- if paginate.previous -%}
        <a
          class="#pagination-item" 
          href="{{ paginate.previous.url }}{{ anchor }}"
          aria-label="{{ 'general.pagination.previous' | t }}">
          {% render 'icon', name: 'arrow-left' %}
        </a>
      {%- endif -%}

      {% for part in paginate.parts %}
        {%- if part.is_link -%}
          <a 
            class="#pagination-item"
            href="{{ part.url }}{{ anchor }}"
            aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
          >{{ part.title }}</a>
        {%- else -%}
          <span
            {% if part.title == paginate.current_page %}
              class="#pagination-item !active"
              aria-current="page" 
              aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
            {% else %}
              class="#pagination-item @spacer"
            {% endif %}
          >
            {{ part.title }}
          </span>
        {%- endif -%}
      {% endfor %}

      {%- if paginate.next -%}
        <a
          class="#pagination-item"
          href="{{ paginate.next.url }}{{ anchor }}"
          aria-label="{{ 'general.pagination.next' | t }}"
        >
          {% render 'icon', name: 'arrow-right' %}
        </a>
      {%- endif -%}
    </nav>
  </div>
{%- endif -%}
