{%- assign variant_picker = section.blocks | where: "type", "variant_picker" | first -%}

<product-form
  product-url="{{ product.url }}"
  page-type="{{ request.page_type }}"
  section-id="{{ section.id }}" 
  current-variant="{{ current_variant.id }}"
  form-id="{{ product_form_id }}"
  {% if settings.cart_type != 'page' %} cart-popup {% endif %}
  {% if product and product.selling_plan_groups.size > 0 %} selling-plan-enable {% endif %}
>
    {%- form 'product', product, id: product_form_id, novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
      <input type="hidden" disabled name="id" value="{{ current_variant.id | escape }}" data-variant-id-input>
      <noscript>
        {% unless variant_picker %}
          <input type="hidden" name="id" value="{{ current_variant.id | escape }}" data-variant-id-input>
        {% endunless %}
      </noscript>
      <div data-variant-id="{{ current_variant.id }}">

      {% liquid
          if product.selected_or_first_available_variant.available and in_cart_qty != current_variant.inventory_quantity
            assign sold_out_button_hidden = 'hidden'
            if dynamic_checkout
              assign cart_button_color = 'default'
            else
              assign cart_button_color = 'accent-invert'
            endif
          elsif in_cart_qty == current_variant.inventory_quantity
            assign to_cart_button_hidden = 'hidden'
          else
            assign to_cart_button_hidden = 'hidden'
          endif
        %}

          <div class="#grid @columns:1" style="--grid-gap: 0.5rem">
            <div class="#column">
              {% render 'button',
                t_text: 'products.product.add_to_cart',
                attr_name: 'add',
                attr_type: 'submit',
                data_attr: 'data-add-button',
                color: cart_button_color,
                block: true,
                with_loading: true,
                size: 'lg',
                atts: to_cart_button_hidden
              %}
            </div>
            {% if dynamic_checkout %}
              <div class="#column" data-buy-button {% if to_cart_button_hidden %}hidden{% endif %}>
                {{ form | payment_button }}
              </div>
            {% endif %}
          </div>

          {% render 'button',
            t_text: 'products.product.sold_out',
            data_attr: 'data-sold-out-button',
            color: 'default',
            block: true,
            size: 'lg',
            disabled: true,
            atts: sold_out_button_hidden
          %}


      </div> 
    {%- endform -%}
</product-form>

<script type="module" src="{{ 'product-form.js' | asset_url }}"></script>
 