{{ 'product-meta-reviews.css' | asset_url | stylesheet_tag }}

{%- assign cn = '#product-meta-reviews' -%}
{%- assign rating_value = product.metafields.reviews.rating.value -%}
{%- assign rating_value = rating_value | strip | plus: 0 -%}
{%- assign rating_floor = rating_value | floor -%}
{%- assign rating_remainder = rating_value | minus: rating_floor -%}
{%- assign count = product.metafields.reviews.rating_count -%}

<div class="{{ cn }} @align:{{ align }}">
    <div class="{{ cn }}-stars">
        {%- for i in (1..rating_floor) -%}
            {% render 'icon', name: 'star' %}
        {%- endfor -%}
        {% if rating_remainder > 0.15 %}
            {% if rating_remainder <= 0.6 %}
                {% render 'icon', name: 'half-star' %}
            {% else %}
                {% render 'icon', name: 'star' %}
            {% endif %}
        {% endif %}
    </div>
    {% if show_count %}
        <div class="{{ cn }}-count">
            <span class="{{ cn }}-count-value">{{ count }}</span>
            <span class="{{ cn }}-count-title">{{ 'products.product.review_count' | t: count: count }}</span>
        </div>
    {% endif %}
</div>



