{% comment %}
    Props
        - video
{% endcomment %}

<video-player {% if video_tag %}internal{% endif %} style="--plyr-color-main: rgb(var(--color-accent))" section-id="{{ section.id }}">
    {% if video_tag %}
        {{ video_tag }}
    {% else %}
        <div class="plyr__video-embed" data-player>
            {% if external_tag %}
                {{ external_tag }}
            {% else %}
                {%- if video.type == 'youtube' -%}
                    <iframe
                        src="https://www.youtube.com/embed/{{ video.id }}?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
                        allowfullscreen
                        allowtransparency
                        allow="autoplay"
                        loading="lazy"
                    ></iframe>
                {%- endif -%}
                {%- if video.type == 'vimeo' -%}
                    <iframe
                        src="https://player.vimeo.com/video/{{ video.id }}?loop=false&amp;byline=false&amp;portrait=false&amp;title=false&amp;speed=true&amp;transparent=0&amp;gesture=media"
                        allowfullscreen
                        allowtransparency
                        allow="autoplay"
                        loading="lazy"
                    ></iframe>
                {%- endif -%}
            {% endif %}
        </div>
    {% endif %}
</video-player>


<script type="module" src="{{ 'video-player.js' | asset_url }}"></script>
