{{ 'article.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'rte.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'rte.css' | asset_url | stylesheet_tag }}</noscript>

<article class="#article" itemscope itemtype="http://schema.org/BlogPosting">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'featured_image' %}
        <div class="#article-container @type:image {% unless block.settings.layout == 'container' %}@{{ block.settings.layout }}{% endunless %}" {{ block.shopify_attributes }}>
          {% render 'media',
            image: article.image,
            size: block.settings.image_size,
            mobile_size: block.settings.mobile_image_size
          %}
        </div>
      {% when 'title' %}
        <div class="#article-container" {{ block.shopify_attributes }}>
          <h1 class="#article-title" itemprop="headline">{{ article.title | escape }}</h1>
          {% if block.settings.blog_show_date or block.settings.blog_show_author  %}
            <div class="#article-meta">
              {% if block.settings.blog_show_date  %}
                <span class="#article-meta-item" itemprop="dateCreated pubdate datePublished">{{ article.published_at | time_tag: format: 'month_year' }}</span>
              {% endif %}
              {% if block.settings.blog_show_author  %}
                <span class="#article-meta-item" itemprop="author" itemscope itemtype="http://schema.org/Person">
                  <span itemprop="name">{{ article.author }}</span>
                </span>
              {% endif %}
            </div>
          {% endif %}
        </div>
      {% when 'content' %}
        <div class="#article-container" {{ block.shopify_attributes }}>
          <div class="#rte @text-size:{{ block.settings.text_size }}">{{ article.content }}</div>
        </div>
      {% when 'share' %}
        <div class="#article-container" {{ block.shopify_attributes }}>
          {% include 'social-share', heading: block.settings.heading, share_title: article.title, share_permalink: article.url, share_image: article.image %}
        </div>
      {% when 'comments' %}
          {% if blog.comments_enabled? %}
            <div class="#article-container" {{ block.shopify_attributes }}>
              {% render 'article-comments', article: article %}
            </div>
          {% endif %}
      {% when 'back_button' %}
            <div class="#article-container" {{ block.shopify_attributes }}>
              {% assign button_text = 'blogs.article.back_to_blog' | t: title: blog.title %}
              {% render 'button',
                text: button_text,
                link: blog.url,
                color: 'default'
              %}
            </div>
      {% when 'separator' %}
          <div class="#article-container" {{ block.shopify_attributes }}>
            <div class="#article-separator"></div>
          </div>
    {% endcase %}
  {% endfor %}
</article>


<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ shop.url | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "image": [
        {{ article | img_url: image_size | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if settings.share_image %}
        {% assign image_size = settings.share_image.width | append: 'x' %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ settings.share_image.height | json }},
          "url": {{ settings.share_image | img_url: image_size | prepend: "https:" | json }},
          "width": {{ settings.share_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
  </script>


{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "featured_image",
      "name": "t:sections.main-article.blocks.featured_image.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "layout",
          "options": [
            {
              "value": "full",
              "label": "Full width"
            },
            {
              "value": "lg",
              "label": "Wide"
            },
            {
              "value": "container",
              "label": "Container width"
            }
          ],
          "label": "Layout",
          "default": "lg"
        },
        {
          "type": "select",
          "id": "image_size",
          "options": [
            {
              "value": "full",
              "label": "Full height"
            },
            {
              "value": "large",
              "label": "Large (70%)"
            },
            {
              "value": "16x9",
              "label": "Widescreen (16x9)"
            },
            {
              "value": "21x9",
              "label": "Ultrawide (21x9)"
            },
            {
              "value": "original",
              "label": "Original image size"
            }
          ],
          "default": "16x9",
          "label": "Image size"
        },
        {
          "type": "select",
          "id": "mobile_image_size",
          "options": [
            {
              "value": "full",
              "label": "Full height"
            },
            {
              "value": "large",
              "label": "Large (70%)"
            },
            {
              "value": "medium",
              "label": "Medium (60%)"
            },
            {
              "value": "small",
              "label": "Small (50%)"
            },
            {
              "value": "9x16",
              "label": "Instgram story (9x16)"
            },
            {
              "value": "4x5",
              "label": "Facebook feed (4x5)"
            },
            {
              "value": "original",
              "label": "Original image size"
            }
          ],
          "default": "9x16",
          "label": "Mobile image size"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": false,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_author.label"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "text_size",
          "label": "Text size",
          "options": [
            {
              "value": "sm",
              "label": "Small"
            },
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "lg",
              "label": "Large"
            }
          ],
          "default": "normal"
        }
      ]
    },
    {
      "type": "share",
      "name": "Social sharing icons",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.title_info.content"
        }
      ]
    },
    {
      "type": "comments",
      "name": "Comments",
      "limit": 1
    },
    {
      "type": "back_button",
      "name": "Back button",
      "limit": 1
    },
    {
      "type": "separator",
      "name": "Separator"
    }
  ]
}
{% endschema %}
