{%- assign cn = '#main-password-header' -%}
{%- assign modal_id = 'login-modal-' | append: section.id -%}

{{ 'main-password-header.css' | asset_url | stylesheet_tag }}
{{ 'form.css' | asset_url | stylesheet_tag }}

<div class="{{ cn }}" style="--main-password-header-text-color: {{ section.settings.text_color }}; --main-password-header-background-color: {{ section.settings.background_color }}">
  {% if section.settings.logo %}
    {%- assign logo_width = section.settings.logo_max_width | append: 'x' -%}
    <img
      width="{{ section.settings.logo_max_width }}" 
      class="{{ cn }}-logo" 
      src="{{ section.settings.logo | img_url: logo_width, scale: 2 }}" 
      alt="{{ section.settings.logo.alt | default: shop.name | escape }}">
  {% else %}
     <h1 class="{{ cn }}-title">{{ shop.name }}</h1>
  {% endif %}
    {% unless shop.password_message == blank %}
      <div>{{ shop.password_message }}</div>
    {% endunless %}
  <modal-trigger class="{{ cn }}-login" target="#{{ modal_id }}" section-id="{{ section.id }}" layout="small">
      {% render 'icon', name: 'lock' %} {{ 'general.password_page.login_password_button' | t }}
  </modal-trigger>
</div>

<template id="{{ modal_id }}">
  <div class="{{ cn }}-modal">
  <h2 class="{{ cn }}-modal-heading" id="DialogHeading">
    {{ 'general.password_page.login_form_heading' | t }}
  </h2>
  {%- assign form_class = cn | append: '-modal-form' -%}
  {%- form 'storefront_password', class: form_class -%}
    {% if form.errors %}
      <div class="#form-alert @error">
        {% render 'icon', name: 'alert' %}
        <div class="#form-alert-body">
          <h4 class="#form-alert-heading">
            <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
              {{ 'general.password_page.login_form_error' | t }}
          </h4>
        </div>
      </div> 
    {% endif %}
    <div class="#form-field">
      <label class="#form-label" for="Password">{{ 'general.password_page.login_form_password_placeholder' | t }}</label>
      <input
        type="password"
        name="password"
        id="Password"
        class="#form-input"
        autocomplete="current-password"
        {% if form.errors %}
          aria-invalid="true"
          aria-describedby="PasswordLoginForm-password-error"
        {%- endif -%}
        placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
      >
    </div>

    <div class="#form-field">
      {% render 'button',
        t_text: 'general.password_page.login_form_submit',
        name: 'commit'
      %}
    </div>
  {%- endform -%}
  <div class="{{ cn }}-modal-footer">{{ 'general.password_page.admin_link_html' | t }}</div>
  </div>
</template>

{% schema %}
{
  "name": "t:sections.main-password-header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.main-password-header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.main-password-header.settings.logo_max_width.unit",
      "label": "t:sections.main-password-header.settings.logo_max_width.label"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#1A1B18"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}
